# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db



# VS Code
.vscode/

# Logs
*.log


# Backup files
*.bak
*.swp
*.tmp
